body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type='text'],
input[type='number'] {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-right: 150px;
}

/* p {
  margin-right: 250px;
  color: #999999;
} */
